/* Global header start */
.headerImage {
	width: 600px;
	margin: 0 auto;
}

.headerTitle span {
	font-size: 44px;
}

/* Global header end */

/* Global footer start */
footer {
	height: 60px;
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	bottom:0;
}
.control-menu{
	width:10%;
	float:right;
	margin-right: 100px;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

footer a {
	font-size: 20px;
	line-height: 2.4;
}

/* Global footer end */

/* Register form start */
.registerContainer {
	margin-top: 130px;
	height: 795px;
}

.registerError {
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
	width: 300px;
}

.registerForm {
	border: 1px solid #c8c9ca;
	border-radius: 15px;
	padding: 0 20px;
	margin-top: 130px;
	width: 450px;
	margin: 0 auto;
}

.registerForm .form-group:first-child {
	margin-top: 15px;
}

.registerForm label {
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	margin-left: 20px;
}

.error {
	color: red;
	width: 50px;
	dispay: block;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
}

.registerForm .btn {
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
}

/* Register form end */

/* Comment section start */

.commentSectionTitle{
	text-align:center;
	color:#4dc5dd;
	padding-bottom:5px;
}

.commentView {
	padding-top: 20px;
}

.commentFormButtons {
	float: right;
	font-family: Verdana, sans-serfi, Arial;
	font-weight: bold;
}

.commentSection {
	margin: 0 auto;
	width: 700px;
}

.textArea {
	width: 700px;
	resize: none;
}

.line {
	border-bottom: 1px solid #000;
}

.inputComment {
	resize: none;
	width: 700px;
	height: 130px;
}

.commentTemplate {
	width: 700px;
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #b5b9bc;
}

.commentBox {
	width: 660px;
	margin: 0 auto;
}

.commentUser {
	font-size: 18px;
	margin-left: 10px;
	color: #3DADF7;
}

.commentDate {
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #2359AF;
	font-family: Arial, sans-serif, Verdana;
}

.commentContent {
	margin-top: 12px;
	font-family: Verdana, sans-serif, Arial;
	color: #2C420D;
}

/* Comment section end */

/* View/Update Issue start */

.viewIssueContainer{
	border-bottom: 1px solid #DFDFDF;
	padding-bottom:20px;
}

.viewIssue {
	margin-top: 100px;
}

.viewIssueTitle {
	text-align: center;
	color: #4dc5dd;
}

.viewIssueState {
	padding: 5px 7px;
	border-radius: 3px;
	border: 1px solid;
	width: 100px;
	text-align: center;
	font-style: Verdana, sans-serif, Arial;
	color: white;
	font-weight: bold;
	float: right;
	margin: 2px 15px 0 5px;
	border-radius:5px;
	float: left;
}

.viewIssueContent {
	text-align: justify;
	font-family: Verdana, sans-serif, Arial;
	line-height: 1.7;
	width: 900px;
	margin: 0 auto;
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #DFDFDF;
}

.viewIssueContent p {
	width: 870px;
	margin: 0 auto;
}

.viewIssueDate {
	font-weight: bold;
}

.viewIssueOwner {
	font-weight: bold;
	font-size: 18px;
	color: #02A4FC;
}

.viewIssueFooter {
	padding-top: 30px;
	width: 1000px;
	margin: 0 auto;
}

.viewIssueFooterDetails {
	width: 200px;
	font-family: Verdana, sans-serif, Arial;
	float: left;
}

.viewIssueFooterButtons {
	margin-top: 5px;
	float: right;
	width: 270px;
}

.editIssueFooterButtons{
	margin-top: 5px;
	float: right;
	width: 160px;
}

.viewIssueFooterButtons button {
	
}

.issue-label{
	float:left;
	padding: 7px;
	font-weight: bold;
	font-size: 16px;
	color: #02A4FC;
}

.editIssueContent {
	margin-top:50px;
	width: 900px;
	margin: 0 auto;
	margin-top: 25px;
	padding-bottom: 25px;
}

.viewIssueTitleEdit,.viewIssueContentEdit {
	width: 870px;
	margin-bottom: 15px;
}

.new {
	background: #10ce26; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTBjZTI2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEwY2UyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #10ce26 0%, #10ce26 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#10ce26), color-stop(100%,#10ce26)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #10ce26 0%,#10ce26 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #10ce26 0%,#10ce26 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #10ce26 0%,#10ce26 100%); /* IE10+ */
	background: linear-gradient(135deg,  #10ce26 0%,#10ce26 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10ce26', endColorstr='#10ce26',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

.new:before {
	content: "New";
}

.opened {
	background: #05abe0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDVhYmUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmYzRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #05abe0 0%, #2fc4ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#05abe0), color-stop(100%,#2fc4ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #05abe0 0%,#2fc4ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #05abe0 0%,#2fc4ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #05abe0 0%,#2fc4ed 100%); /* IE10+ */
	background: linear-gradient(135deg,  #05abe0 0%,#2fc4ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#2fc4ed',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.opened:before {
	content: "Opened";
}

.testing {
	background: #f7a000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjdhMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0YWQwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #f7a000 0%, #f4ad07 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f7a000), color-stop(100%,#f4ad07)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #f7a000 0%,#f4ad07 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #f7a000 0%,#f4ad07 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #f7a000 0%,#f4ad07 100%); /* IE10+ */
	background: linear-gradient(135deg,  #f7a000 0%,#f4ad07 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a000', endColorstr='#f4ad07',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.testing:before {
	content: "Testing";
}

.closed {
	background: #d30000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDMwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RiMDYwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #d30000 0%, #db060a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d30000), color-stop(100%,#db060a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #d30000 0%,#db060a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #d30000 0%,#db060a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #d30000 0%,#db060a 100%); /* IE10+ */
	background: linear-gradient(135deg,  #d30000 0%,#db060a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30000', endColorstr='#db060a',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.closed:before {
	content: "Closed";
}

/* View/Update Issue end */

.loginForm {
	margin: 0 auto;
	width: 520px;
	border: 1px solid #c8c9ca;
	border-radius: 15px;
	padding: 10px 20px;
	margin-top: 10px;
}

.myBtn {
	width: 120px;
}

#contentHome {
	width: 100%;
	min-width: 540px;
	height: 700px;
	background-color: rgb(47, 95, 150);
	margin-top: 150px;
}

#middleHome {
	width: 580px;
	height: 620px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

.homeBtn {
	color: white;
	width: 250px;
	background-color: rgb(47, 95, 150);
	border: 1px solid white;
	border-radius: 7px;
	padding: 10px 20px;
	font-size: 17px;
	margin-left: 10px;
}

.homeBtn:hover {
	background-color: white;
	color: rgb(47, 95, 150);
}

#motto {
	color: white;
	font-size: 18px;
	margin-left: 10px;
}

#createIssue {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	margin-top: 150px; //
	background-color: rgb(245, 245, 245);
	border-bottom-right-radius: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	transform: rotate(357deg) scale(1) skew(-0deg) translate(0px);
	-webkit-transform: rotate(357deg) scale(1) skew(-0deg) translate(0px);
	-moz-transform: rotate(357deg) scale(1) skew(-0deg) translate(0px);
	-o-transform: rotate(357deg) scale(1) skew(-0deg) translate(0px);
	-ms-transform: rotate(357deg) scale(1) skew(-0deg) translate(0px);
	-webkit-box-shadow: -8px 10px 26px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -8px 10px 26px -4px rgba(0, 0, 0, 0.75);
	box-shadow: -8px 10px 26px -4px rgba(0, 0, 0, 0.75);
}

#inIssue {
	margin: 0 auto;
	width: 460px;
	height: 450px;
	margin-top: 20px;
}

.issueTitle {
	width: 100%;
	height: 12%;
	background-color: rgb(200, 200, 200);
}

#createContent {
	border-radius: 5px;
}

#createBtn {
	float: right;
	margin-top: 50px;
	margin-left: -100px;
	width: 160px;
	height: 30px;
	color: rgb(51, 97, 5);
	font-size: 18px;
	font-weight: bold;
}

.comic {
	color: rgb(66, 139, 202); // rgb (255,127,29);
	font-size: 18px;
	font-weight: bold; //
	margin-left: 200px;
}

#backBtn{
	float:left;
	margin-top: 50px;
	margin-left: 60px;
}

.backLabel{
	color:rgb(66,139,202);
	font-size: 18px;
	font-weight: bold;
	margin-left: 3px;
}

.comic{
	color:rgb(66,139,202);//rgb(255,127,29);
	font-size: 18px;
	font-weight: bold; //
	margin-left: 200px;
}

.pinB {
	width: 40px;
}

.pinB2 {
	width: 60px;
	float: left;
	margin-left: 100px;
	margin-top: -15px;
}

.noBtn {
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
}

.pin {
	margin-left: 235px;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: 6px;
	border-radius: 50%;
	position: relative;
	background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%,
		#062745 100%);
}

.pin:before {
	content: "";
	position: absolute;
	top: 3%;
	left: 5%;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0)
		58%);
	filter: blur(5px);
	z-index: 2;
}

.addedBy {
	color: rgb(74, 89, 130); // rgb (255,160,6);
	float: right;
	margin-right: 10px;
}

.addedBy2 {
	color: rgb(66, 139, 202);
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	font-size: 16px;
}

#all{
	width:100%;
	min-height: 795px;
}

#meniu{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgb(231,231,231);
}

.meniuBtn{
	float:right;
	text-decoration: none;
	margin-right: 10px;
	margin-top: 10px;
}

#pages{
	margin:0 auto;
}

#issues{
	margin: 0 auto;
	width: 1700px;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	color: rgb(90,90,90);
	word-wrap: break-word;
}

.issue{
	width: 300px;
	height:300px;
	float:left;
	margin-left: 40px;
	margin-top: 40px;
	color: rgb(90,90,90);

-webkit-box-shadow: -3px 3px 29px 0px rgba(50, 50, 50, 0.62);
-moz-box-shadow:    -3px 3px 29px 0px rgba(50, 50, 50, 0.62);
box-shadow:         -3px 3px 29px 0px rgba(50, 50, 50, 0.62);


}

.issue:hover{
	//margin-top:35px;
	transform: rotate(3deg) ;
	-webkit-transform: rotate(3deg) ;
	-moz-transform: rotate(3deg) ;
	-o-transform: rotate(3deg) ;
	-ms-transform: rotate(3deg) ;
}

.border{
	width: 100%;
	height: 17%;
	background-color: rgba(0,0,0, 0.03);
	border-bottom: 1px solid rgba(0,0,0,0.03);
}

.content{
	width: 270px;
	height: 190px;
	margin-left: 20px;
}

.title{
	font-weight: bold;
	//color:rgb(47,95,150);
	//border-bottom: 1px solid rgba(0,0,0, 0.05);
}

.date{
	float:right;
	margin-right: 10px;
	margin-top: 15px;
}

.state{
	margin-top:10px;
	margin-left: 10px;
	color: rgb(47,95,150);//rgb(66,139,202);
}

.addedBy2 {
	color: rgb(66, 139, 202);
	float: right;
}
.owner{
	float:right;
	margin-right: 15px;
	margin-top:15px;
	font-size: 16px;
	margin-right: 15px;
	margin-top: 15px;
	font-size: 16px;
	margin-right: 10px;
	border-top: 1px solid rgba(0,0,0, 0.05);
/*	color: rgb(47,95,150);*/
}

#iss0{
	background-color: rgb(239,171,60);
}
#iss1{
	background-color: rgb(198,167,209);
}
#iss2{
	background-color: rgb(205,222,82);
}
#iss3{
	background-color: rgb(231,118,169);//rgb(227,99,156);

}
#iss4{
	background-color: rgb(189,218,226);
	clear: right;
}
#iss5{
	background-color: rgb(230,230,230);
	
}
#iss6{
	background-color: rgb(231,118,169);
}
#iss7{
	background-color: rgb(181,211,219);
	
}
#iss8{
	background-color: rgb(198,167,209);
}
#iss9{
	background-color: rgb(231,233,88);
}

.pinB3{
	width:40px;
	float:left;
	margin-left: 140px;
	margin-top: -5px;
}
