/* Global header start */

.headerImage {
	width:600px;
	margin:0 auto;
}

.headerTitle span{
	font-size:44px;
}

/* Global header end */

/* Global footer start */

footer {
  height:60px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  bottom:0;
}

footer small {
 
  float: left;
}

footer ul {
 	
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



footer a{
	font-size: 20px;
	line-height: 2.4;
}

/* Global footer end */

/* Register form start */

.registerContainer{
	margin-top:130px;
}

.registerError{
	
	text-align:center;
	font-size:14px;
	margin: 0 auto;
	width:300px;
	
}

.registerForm{
	border:1px solid #c8c9ca;
	border-radius:15px;
	padding:0 20px;
	margin-top:130px;
	width:450px;
	margin:0 auto;
}

.registerForm .form-group:first-child{
	margin-top:15px;
}

.registerForm label{
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	margin-left:20px;
}

.error{
	color:red;
	width: 50px;
	dispay:block;
	margin: 0 auto;
}

.container{
	margin:0 auto;
}

.registerForm .btn { 
	width:100px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:15px;
	font-weight:bold;
}

/* Register form end */

/* Comment section start */

.commentView{
	padding-top:20px;
}

.commentFormButtons{
	float:right;
	font-family: Verdana, sans-serfi, Arial;
	font-weight:bold;
}

.commentSection{
	margin:0 auto;
	width:700px;
}

.textArea{
	width:700px;
	resize:none;
}

.line{
	border-bottom:1px solid #000;
}

.inputComment{
	resize:none;
	width:700px;
	height:130px;
}

.commentTemplate{
	width:700px;
	margin-top:20px;
	padding-top:15px;
	border-top:1px solid #b5b9bc;
}

.commentBox{
	width:660px;
	margin:0 auto;
}

.commentUser{
	font-size:18px;
	margin-left:10px;
	color:#3DADF7;
}

.commentDate{
	margin-top:15px;
	font-size:18px;
	font-weight:bold;
	color:#2359AF;
	font-family: Arial, sans-serif, Verdana;
}

.commentContent{
	margin-top:12px;
	font-family: Verdana, sans-serif, Arial;
	color:#2C420D;
}

/* Comment section end */

/* View/Update Issue start */

.viewIssue{
	margin-top:100px;	
	margin-bottom:30px;
}

.viewIssueHeader{
	width:100%;
}

.viewIssueHeaderTitle{
	text-align:center;
	color:#4dc5dd;
}

.viewIssueState{
	padding:5px 7px;
	border-radius:3px;
	border: 1px solid;
	width:100px;
	text-align:center;
	font-style: Verdana, sans-serif, Arial;
	color:white;
	font-weight:bold;
	float:right;
	margin-top:2px;
	margin-left:5px;
}

.viewIssueContent{
	font-family: Verdana, sans-serif, Arial;
	line-height:1.7;
	width:900px;
	margin:0 auto;
	margin-top:25px;
	padding-bottom:25px;
	border-bottom:1px solid #AAAAAA;
}

.viewIssueContent p{
	width:870px;
	margin:0 auto;
}

.viewIssueDate{
	font-weight:bold;
}

.viewIssueOwner{
	font-weight: bold;
	font-size: 18px;
	color:#02A4FC;
}

.viewIssueFooter{
	padding-top:30px;
	width:1000px;
	margin:0 auto;
}

.viewIssueFooterDetails{
	width:200px;
	font-family:Verdana, sans-serif,Arial;
	float:left;
}

.viewIssueFooterButtons{
	margin-top:5px;
	float:right;
	width:180px;
}

.viewIssueFooterButtons button{
}

.new{
	background: #0ed300; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGVkMzAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMjBlYTI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(-45deg,  #0ed300 0%, #20ea27 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0ed300), color-stop(99%,#20ea27)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #0ed300 0%,#20ea27 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #0ed300 0%,#20ea27 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #0ed300 0%,#20ea27 99%); /* IE10+ */
	background: linear-gradient(135deg,  #0ed300 0%,#20ea27 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ed300', endColorstr='#20ea27',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.opened{
	background: #00d6c7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDBkNmM3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMDBlZmRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(-45deg,  #00d6c7 0%, #00efdf 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00d6c7), color-stop(99%,#00efdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #00d6c7 0%,#00efdf 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #00d6c7 0%,#00efdf 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #00d6c7 0%,#00efdf 99%); /* IE10+ */
	background: linear-gradient(135deg,  #00d6c7 0%,#00efdf 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d6c7', endColorstr='#00efdf',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.testing{
	background: #e5bd3b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTViZDNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZTVjZTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(-45deg,  #e5bd3b 0%, #e5ce00 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e5bd3b), color-stop(99%,#e5ce00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #e5bd3b 0%,#e5ce00 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #e5bd3b 0%,#e5ce00 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #e5bd3b 0%,#e5ce00 99%); /* IE10+ */
	background: linear-gradient(135deg,  #e5bd3b 0%,#e5ce00 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5bd3b', endColorstr='#e5ce00',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.closed{
	background: #ff1000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmYxMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMjgyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #ff1000 1%, #ff2828 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#ff1000), color-stop(100%,#ff2828)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ff1000 1%,#ff2828 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ff1000 1%,#ff2828 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ff1000 1%,#ff2828 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ff1000 1%,#ff2828 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1000', endColorstr='#ff2828',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}


/* View/Update Issue end */

.loginForm{
    margin: 0 auto;
    width: 520px;
    border: 1px solid #c8c9ca;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 10px;
}

.myBtn {
    width: 120px;
}

#contentHome{
	width:100%;
	min-width:540px;
	height:700px;
	background-color: rgb(47, 95, 150);
	margin-top: 150px;
	
}

#middleHome{
	width: 580px;
	height: 620px;
	margin: 0 auto;
	 margin-left: auto ;
  margin-right: auto ;
}

.homeBtn{
	color: white;
	width: 250px;
	background-color: rgb(47, 95, 150);
	border: 1px solid white;
	border-radius: 7px;
	padding: 10px 20px;
	font-size: 17px;
	margin-left: 10px;
}

.homeBtn:hover{
	background-color: white;
	color: rgb(47, 95, 150);
}

#motto{
	color:white;
	font-size: 18px;
	margin-left: 10px;

}

#createIssue{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	margin-top:150px;
	border: 1px solid rgb(200,200,200);
	background-color: rgb(245,245,245);
	
    transform: rotate(357deg) scale(1) skew(-6deg) translate(-1px);
    -webkit-transform: rotate(357deg) scale(1) skew(-0deg) translate(-1px);
    -moz-transform: rotate(357deg) scale(1) skew(-0deg) translate(-1px);
    -o-transform: rotate(357deg) scale(1) skew(-0deg) translate(-1px);
    -ms-transform: rotate(357deg) scale(1) skew(-0deg) translate(-1px);
	
	-webkit-box-shadow: -13px 17px 26px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -13px 17px 26px -4px rgba(0,0,0,0.75);
	box-shadow: -13px 17px 26px -4px rgba(0,0,0,0.75);
}

.issueTitle{
	width: 100%;
	height: 12%;
	background-color: rgb(200,200,200);
}